<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>日次勤怠データ</title>
</head>
<body>
<h1>日次勤怠データ</h1>
<table border="1">
    <thead>
    <tr>
        <th>ユーザーID</th>
        <th>社員番号</th>
        <th>氏名</th>
        <th>年月</th>
        <th>日付</th>
        <th>曜日</th>
        <th>出勤時刻</th>
        <th>退勤時刻</th>
    </tr>
    </thead>
    <tbody>
    {{range .}}
    <tr>
        <td>{{.UserId}}</td>
        <td>{{.Number}}</td>
        <td>{{.FullName}}</td>
        <td>{{.Month}}</td>
        <td>{{.Day}}</td>
        <td>{{.Wday}}</td>
        <td>{{.StartAt}}</td>
        <td>{{.EndAt}}</td>
        <!-- 他のフィールドもここに追加 -->
    </tr>
    {{end}}
    </tbody>
</table>
</body>
</html>
