<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>日次勤怠データ</title>
    <link rel="stylesheet" href="/static/styles.css">
    <meta name="monthly" content="{{.monthly}}">
    <script src="/static/work_outputs_page.js" defer></script>
</head>
<body class="table-page">
<div class="container">
    <h1>日次勤怠データ</h1>
    <div class="form-group">
        <label for="month_year">年月度:</label>
        <select id="month_year" class="form-control" required></select>
    </div>
    <div class="summary">
        <strong>「直行直帰(残業有)」、「直行(残業有)」、「直帰(残業有)」の合計残業時間：</strong>
        <span id="total-overtime">{{.hours}}:{{.minutes}}</span>
    </div>
    <table class="styled-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>社員番号</th>
            <th>氏名</th>
            <th>年月</th>
            <th>日付</th>
            <th>曜日</th>
            <th>区分</th>
            <th>出勤</th>
            <th>退勤</th>
            <th>残業</th>
        </tr>
        </thead>
        <tbody id="work-data-body">
        {{range .data}}
        <tr>
            <td>{{.UserId}}</td>
            <td>{{.Number}}</td>
            <td>{{.FullName}}</td>
            <td>{{.Month}}</td>
            <td>{{.Day}}</td>
            <td>{{.Wday}}</td>
            <td>{{.SegmentTitle}}</td>
            <td>{{.StartAt}}</td>
            <td>{{.EndAt}}</td>
            <td>{{.TotalOverWorkTime}}</td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>
</body>
</html>
